table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;

    width: 250px;
    height: 250px;
}
button {
    background-color: chartreuse;
    color: brown;
    width: 50px;
    height: 30px;
}
input {
    background-color: aliceblue;
    width: 240px;
    height: 35px;
}