button {
    background-color: chartreuse;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-family: "Berlin Sans FB";
    font-size: xx-large;
    width: 20%;
}
body {
    background-color: burlywood;
}