body {
    font-family: "Berlin Sans FB";
    font-size: xx-large;
    background-color: burlywood;
}
input {
    height: 30px;
    width: 300px;
    border-top-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
button {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: chartreuse;
    font-size: xx-large;
    font-family: "Agency FB";
}